@charset "utf-8";

@import url('sub-page.css');

/* content */
main {
    font-family: 'pretendard';
}

.section0_img {
    background: url('../img/type_of_talent_section.png') center center / cover no-repeat;
}

.content .inner .subtitle div {
    font-size: 20px;
    font-weight: 200;
    font-family: 'Pretendard';
    line-height: 1.6;
}


/* 이미지 배치 */
.content_grid {
    position: relative;
    margin: 0 5%;
}

.content_grid .img_title {
    font-family: 'Pretendard';
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.content_grid .img_sub_title {
    font-family: 'Pretendard';
    font-size: 16px;
}

/* innovation */
.innovation_box {
    margin-top: 275px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10%;
}

.innovation_box img {
    width: 556px;
    height: 507px;
    object-fit: cover;
}

.innovation_box .text {
    width: 556px;
}

/* flexibility */
.flexibility_box {
    position: absolute;
    top: 20%;
    left: 0;
}

.flexibility_box img {
    width: 379px;
    height: 585px;
    object-fit: cover;
}

/* Trust */
.trust_box {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.trust_box img {
    width: 617px;
    height: 341px;
    object-fit: cover;
}

.trust_box .text {
    width: 617px;
}

/* Challenge */
.challenge_box {
    margin-top: 335px;
    margin-right: 80px;
    margin-bottom: 200px;
}

.challenge_box img {
    width: 790px;
    height: 465px;
}